
configuration {
	modi: "drun,window,ssh,combi";
	font: "Cascadia Mono 10";
	combi-modi: "window,drun,ssh";
}
//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
@theme "/usr/share/rofi/themes/Paper.rasi"
